{% extends 'base.html.twig' %}

{% block page_subtitle %}{{ wallet.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/wallet_dashboard.css') }}">
{% endblock %}

{% block page_content %}

    {% include 'wallets/head-dashboard.html.twig' %}

    <div class="box box-{{ box_type|default('info') }} js-wallet-dashboard">
        <div class="box-header">
        </div>
        <!-- /.box-header -->
        <div class="box-body">
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
        </div>
        <!-- /.box-footer -->
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/wallet_dashboard.js') }}"></script>
{% endblock %}
