{#
    entity_name => entity name
    fields => {
                'render': {
                    base: <value>, default(text) -> How to render the field. Render type [text, currency, date, slice]
                    option: <value>

                        1. base 'text' option should not be defined.
                        2. base 'truncate' option value is the slice until the truncate value.
                        3. base 'date' option value is the format date.
                        4. base 'currency' option value is the format currency.
                },
                'name': <value>, # required -> Column name
                'label': <value>, -> Column name label. When label is not defined then name is used instead.
                'col_with': <value> -> Collumn with
            }

     'buttons': [
           {
               'type': '<value>', default('info') -> buton type.
               'jsClass': '<value>', default('js-entity-view') -> buton type.
               'icon': '<value>', default('fas fa-eye') -> buton icon.
           },
       ]
    form => form object,
    create_button_label => Different value for create button. Example Add operation
#}

{% import 'Components/Macros/crud-manage-render.html.twig' as render %}

<!-- create button table manager template -->
<script type="text/template" id="js-manager-create-button-template">
    <button class="js-entity-create btn btn-success pull-right">
        <i class="fa-plus-circle fa" aria-hidden="true"></i>
        {% if create_button_label is not defined %}
            {{ 'Create new'|trans }} {{ entity_name|trans|lower }}
        {% else  %}
            {{ create_button_label }}
        {% endif  %}
    </button>
</script>

<!-- create search table manager template -->
<script type="text/template" id="js-manager-search-template">
    <label class="pull-right">Search:
        <div class="btn-group">
            <input type="search" class="form-control js-manage-search" placeholder="Search" aria-controls="search"
                   style="width: 248px; display: inline-block;">
            <span class="glyphicon glyphicon-remove-circle js-manage-search-clear"
                  style="display: none;"></span>
        </div>
    </label>
</script>

<!-- create search table manager template -->
<script type="text/template" id="js-manager-show-per-page-template">
    <label>{{ 'Show'|trans }}
        <select id="show-{{ entity_name|trans|lower|trim(' ') }}s-per-page" name="manage-per-page" aria-controls="per page"
                class="form-control input-sm js-manage-show-per-page"
                style="width: 75px; display: inline-block;">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
        entries</label>
</script>

{% if fields is defined %}
<!-- row table manager template -->
<script type="text/template" id="js-manager-row-template">
    <tr data-id="<%= id %>" data-i="<%= index %>">
        <th style="vertical-align: middle;" scope="row" class="text-center js-manager-row-index"><%= index %></th>
        {% for field in fields %}
            <td style="vertical-align: middle;" {% if field.class is defined %} class="{{ field.class }}" {% endif %}>
                {{ render.field(field.name, field) }}
            </td>
        {% endfor %}
        <td style="text-align: center;">
            <% if (viewButton) { %>
            <button type="button" data-backdrop="static" data-keyboard="false" class="js-entity-view btn btn-default btn-sm pull-left"
                    style="margin-left: 3px">
                <i class="fas fa-eye" aria-hidden="true"></i>
            </button>
            <% } %>
            {% if buttons is defined %}
                {% for button in buttons %}
                    {#
                        'buttons': [
                           {
                               'type': '<value>', default('info') -> buton type.
                               'jsClass': '<value>', default('js-entity-view') -> buton type.
                               'icon': '<value>', default('fas fa-eye') -> buton icon.
                           },
                       ]
                    #}
                    <button class="{{ button.jsClass|default('js-entity-view') }} btn btn-{{ button.type|default('info') }} btn-sm pull-left"
                            style="margin-left: 3px">
                        <i class="{{ button.icon|default('fas fa-eye') }}" aria-hidden="true"></i>
                    </button>
                {% endfor %}
            {% endif %}
            <% if (editButton) { %>
            <button type="button" data-backdrop="static" data-keyboard="false" class="js-entity-edit btn btn-primary btn-sm pull-left"
                    style="margin-left: 3px">
                <i class="fa fa-pencil-alt" aria-hidden="true"></i>
            </button>
            <% } %>
            <% if (deleteButton) { %>
            <button type="button" data-backdrop="static" data-keyboard="false" class="js-entity-delete btn btn-danger btn-sm"
                    data-id="<%= id %>" data-title="<%= title %>" style="margin-left: 3px">
                <i class="fa-trash-alt fa" aria-hidden="true"></i>
            </button>
            <% } %>
        </td>
    </tr>
</script>
{% endif %}

<!--
    This two script exposes a global variable called Routing.
    You can use that Routing variable to generate links in the same way that we use the
    path function in Twig templates: just pass it the route name and parameters.
-->
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

<script src="{{ asset('build/vendors.js') }}"></script>
<script src="{{ asset('build/crud_manager.js') }}"></script>

{% if form is defined %}
<!-- form table manager template -->
<script type="text/template" id="js-manager-form-template">
    {% set _form_theme = form_theme|default('Components/Form/horizontal-theme-form.html.twig') %}
    {% form_theme form _form_theme %}

    {{ form_start(form, {'attr': {'id': 'entity-form', 'class': 'form-horizontal js-entity-create-from' }}) }}
    <div class="box-body">
        {{ form_widget(form) }}
    </div>
    {{ form_end(form) }}
</script>
{% endif %}

<script>
    // Set up swal confirm options
    window.swalConfirmOptions = {
        customClass: {
            confirmButton: 'btn btn-danger',
            cancelButton: 'btn btn-default',
            title: 'swal2-confirm-title',
            content: 'swal2-confirm-content',
            actions: 'swal2-confirm-actions',
        },
        buttonsStyling: false,
        type: 'warning',
        width: 500,
        showCancelButton: true,
        showLoaderOnConfirm: true,
        allowOutsideClick: false,
        showCloseButton: true,
        position: 'top',
        confirmButtonText: '{{ 'Delete'|trans }}',
        titleText: '{{ 'Delete'|trans }} {{ entity_name|trans|title }}',
        text: '{{ 'Do you want to delete the'|trans }} {{ entity_name|trans|title|lower }} {0}?',
    };

    // Set up swal confirm options
    window.swalFormOptions = {
        customClass: {
            confirmButton: 'btn btn-danger',
            cancelButton: 'btn btn-default',
            title: 'swal2-form-title',
            content: 'swal2-form-content',
            actions: 'swal2-form-actions',
        },
        buttonsStyling: false,
        width: 600,
        showCancelButton: true,
        showLoaderOnConfirm: true,
        reverseButtons: true,
        allowEscapeKey: false,
        allowOutsideClick: false,
        showCloseButton: true,
        position: 'top'
    };

    // Set up toast options, for showing the operation final status at the end.
    window.toastOptions = {
        toast: true,
        position: 'top',
        showConfirmButton: false,
        timer: 3000,
        customClass: {
            title: 'swal2-toast-title',
        },
        titleText: '{{ entity_name|trans|title }} {{ 'was {0} successfully.'|trans }}'
    };
</script>
