{#
    entity_name => entity name
    fields => {
                'render': {
                    base: <value>, default(text) -> How to render the field. Render type [text, currency, date, slice]
                    option: <value>

                        1. base 'text' option should not be defined.
                        2. base 'truncate' option value is the slice until the truncate value.
                        3. base 'date' option value is the format date.
                        4. base 'currency' option value is the format currency.
                },
                'name': <value>, # required -> Column name
                'label': <value>, -> Column name label. When label is not defined then name is used instead.
                'col_with': <value> -> Collumn with
            }
     js_crud_manage_class = default('js-crud-manage-row-box')
#}


<div class="row {{ js_crud_manage_class|default('js-crud-manage-row-box') }}" data-entity-type="{{ entity_name|snake }}">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border js-manage-header">
                <div class="col-md-12 js-manage-header-create-button-container">
                    <!-- create button table manager template -->
                </div>
                <div class="col-md-12" style="margin-top: 20px;">
                    <div class="col-md-4 js-manage-header-per-page-container" style="padding-left: 0px;">

                    </div>
                    <div class="col-md-4 pull-right js-manage-header-search-container" style="padding-right: 0px;">
                        <!-- create search table manager template -->
                    </div>
                </div>
            </div>
            <div class="box-body table-responsive no-padding">
                <table id="{{ entity_name|trans|lower|trim(' ') }}s" class="table table-bordered table-striped js-manager-table">
                    <thead>
                    <tr>
                        <th width="60" class="text-center" scope="col">#</th>
                        {% for field in fields %}
                            <th {% if field.col_with is defined %} width="{{ field.col_with }}" {% endif %} scope="col"
                                    {% if field.class is defined %} class="{{ field.class }}" {% endif %}>
                                {% if field.label is not defined %}{{ field.name|trans|upper }}{% else %}{{ field.label|trans|upper }}{% endif %}
                            </th>
                        {% endfor %}
                        <th class="js-manage-buttons" scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th class="text-center" scope="col">#</th>
                        {% for field in fields %}
                            <th {% if field.class is defined %} class="{{ field.class }}" {% endif %}  scope="col">
                                {% if field.label is not defined %}{{ field.name|trans|upper }}{% else %}{{ field.label|trans|upper }}{% endif %}
                            </th>
                        {% endfor %}
                        <th scope="col"></th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="box-footer with-border js-manage-footer">
                <div class="col-md-12">
                    <div class="pull-left col-sm-6">
                        <span class="js-manage-pagination-info" id="{{ entity_name|trans|lower|trim(' ') }}s-pagination-info" role="status" aria-live="polite"
                           data-text="{{ 'Showing :from to :to of :of'|trans }} {{ entity_name|trans|lower|trim(' ') }}s"></span>
                    </div>
                    <div class="pull-right col-sm-6">
                        <ul id="{{ entity_name|trans|lower|trim(' ') }}s-pagination" class="pagination-sm pagination js-manage-pagination pull-right"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
