<div class="col-xs-12 no-padding stock-open-close-day-price-slider">
    <b>{{ min_price }}</b>
    <input id="{{ id }}" type="text"
           data-slider-min="{{ min_price }}" data-slider-max="{{ max_price }}" data-slider-value="{{ current_price }}" data-slider-enabled="false"/>
    <b>{{ max_price }}</b>
</div>
<div class="col-xs-12 no-padding stock-open-close-day-price-slider-type">
    <span>{{ type }}</span>
</div>
<div class="col-xs-12" style="padding-bottom: 18px"></div>
