{% set compile = false %}

{% if tmpl is defined and tmpl == true %}
    {% set compile = true %}
{% endif %}

<div class="col-xs-12 no-padding stock-open-close-day-price-slider">
    <b>{{ min_price|compile_money_tmpl(compile) }}</b>
    <input id="{{ id }}" type="text"
           data-slider-min="{{ min_price|compile_money_decimal_tmpl(compile) }}" data-slider-max="{{ max_price|compile_money_decimal_tmpl(compile) }}"
           data-slider-value="{{ current_price|compile_money_decimal_tmpl(compile) }}" data-slider-enabled="false"/>
    <b>{{ max_price|compile_money_tmpl(compile) }}</b>
</div>
<div class="col-xs-12 no-padding stock-open-close-day-price-slider-type">
    <span>{{ type }}</span>
</div>
<div class="col-xs-12" style="padding-bottom: 18px"></div>
