{#
    entities => Entity[] -> Entity list. Entity should implement getId() and __toString() functions
    new_url => url to create a new entity
    entity_name => entity name
    fields => {
                'render': {
                    base: <value>, default(text) -> How to render the field. Render type [text, currency, date, slice]
                    option: <value>

                        1. base 'text' option should not be defined.
                        2. base 'truncate' option value is the slice until the truncate value.
                        3. base 'date' option value is the format date.
                        4. base 'currency' option value is the format currency.
                },
                'name': <value>, # required -> Column name
                'label': <value>, -> Column name label. When label is not defined then name is used instead.
                'col_with': <value> -> Collumn with
            }

     'edit_route' => edit route
     'delete_route' => delete route

     'buttons': [
           {
               'route': '<value>', -> should depends on the id.
               'action': '<value>', default(view) -> action to performance.
               'type': '<value>', default(info) -> buton type.
               'icon': '<value>', default(eye) -> buton icon.
               'modal': '<value>', default(1) -> open a modal window.
           },
       ]
    form => form object
    form_selector => (optional) defines the selector can be use in javascript
#}

{% extends 'base.html.twig' %}

{% import 'Components/Macros/crud-manage-render.html.twig' as render %}

{% block page_content %}
    <div class="row js-crud-manage-row-box">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <button class="js-entity-create btn btn-success pull-right" data-target="#modal-create"
                       data-toggle="modal" data-backdrop="static" data-keyboard="false">
                        <i class="fa-plus-circle fa" aria-hidden="true"></i> Create new {{ entity_name|trans|lower }}</button>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table id="{{ entity_name|trans|lower|trim(' ') }}s" class="table table-bordered table-striped js-manager-table"
                    data-length="0">
                        <thead>
                        <tr>
                            <th width="60" class="text-center" scope="col">#</th>
                            {% for field in fields %}
                                <th {% if field.col_with is defined %} width="{{ field.col_with }}" {% endif %} scope="col">
                                    {% if field.label is not defined %}{{ field.name|trans|upper }}{% else %}{{ field.label|trans|upper }}{% endif %}
                                </th>
                            {% endfor %}
                            <th width="{% if buttons is defined %}{{ buttons|length * 22 + 100 }}{% else %}100{% endif %}" scope="col">MANAGE</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                    {% embed 'Components/Modal/modal.html.twig' with {
                        'dialog' : 'confirm-delete-dialog',
                        'request' : 'true',
                        'modal_id' : 'modal-delete',
                        'modal_title_id': 'modalTitleDelete'
                    } %}
                    {% endembed %}
                </div>
            </div>
        </div>
    </div>

    {% set modal_title %}
        <h4 class="modal-title">Create new {{ entity_name|trans|lower }}</h4>
    {% endset %}

    {% set modal_body %}
        {% embed 'Components/Layout/_box.html.twig'%}
            {% block _box %}
                {% include 'Components/Form/_form-horizontal.html.twig' with {
                    'form': form,
                    'form_selector': 'js-entity-create-from',
                    'box_type': 'success',
                    'submit_icon': 'save',
                    'submit_type': 'Create',
                    'data_model': 'data-dismiss=modal'
                } %}
            {% endblock %}
        {% endembed %}
    {% endset %}

    {% embed 'Components/Modal/modal.html.twig' with {
        'dialog' : 'dialog',
        'modal_id' : 'modal-create',
        'request' : 'true',
        'modal_title': modal_title,
        'modal_body': modal_body
    } %}
    {% endembed %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- row table template -->
    <script type="text/template" id="js-manager-row-template">
        <tr>
            <th style="vertical-align: middle;" scope="row" class="text-center js-manager-row-index"><%= index %></th>
            {% for field in fields %}
                <td style="vertical-align: middle;">
                    {{ render.field(field.name, field) }}
                </td>
            {% endfor %}
            <td>
                <button type="button" data-backdrop="static" data-keyboard="false" class="js-entity-edit btn btn-primary btn-sm pull-left"
                        data-target="#modal-create" data-keyboard="true" style="margin-left: 3px">
                    <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                </button>
                <button type="button" data-backdrop="static" data-keyboard="false" class="js-entity-delete btn btn-danger btn-sm" data-target="#modal-delete"
                        data-keyboard="true" data-toggle="modal" data-id="<%= id %>" data-title="<%= title %>"
                        data-url="<%= Routing.generate('transfer_delete', {'id': id}) %>"   style="margin-left: 3px">
                    <i class="fa-trash-alt fa" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script src="{{ asset('assets/js/crud-manage.js') }}"></script>


    <script>
        $(document).ready(function(){

            // Create page instance
            let contentWrapper = $('.js-crud-manage-row-box').closest('section');
            let $createModal = $('#modal-create');
            let $deleteModal = $('#modal-delete');

            let crudManager = new CRUDManage(contentWrapper, $createModal, $deleteModal);

            // let $createModal = $('#modal-create');
            // let indexPage = new IndexPage(contentWrapper, $createModal);
            //
            // // Create crud manager instance.
            // // The instance will take care of add, update and remove entities and keep the table updated.
            // let $tableWrapper = $('.js-manager-table');
            // let $deleteModal = $('#modal-delete');


            // // Implementation create button on modal
            // $(document).on("click", ".entity-create", function () {
            //     $('#background-modal-create').hide();
            //
            //     var form = $('#entity-form');
            //     form.trigger("reset");
            //
            //     // As pointed out in comments,
            //     // it is superfluous to have to manually call the modal.
            //     var modal = $('#modal-create');
            //     modal.modal('show');
            //
            //     modal.modal({ backdrop: 'static', keyboard: false })
            //         .on('click', '#submit-btn', function(){
            //             form.submit();
            //
            //             // Block the panel
            //             modal.modal({backdrop: 'static', keyboard: false});
            //             $('#modal-create .modal-dialog').hide();
            //             modal.css('text-align','center');
            //
            //             $('#background-modal-create').show();
            //         });
            // });
        });
    </script>
{% endblock %}

