{% extends '@AdminLTE/layout/form-theme.html.twig' %}

{# Errors #}
{% block form_errors -%}
    {% if errors|length > 0 -%}
        {% if form.parent %}<span class="help-block">{% else %}<div class="alert alert-danger">{% endif %}
        <ul class="list-unstyled">
        {%- for error in errors -%}
            <li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error.message }}</li>
        {%- endfor -%}
    </ul>
        {% if form.parent %}</span>{% else %}</div>{% endif %}
    {%- endif %}
{%- endblock form_errors %}

{%- block date_widget -%}
    <div class="input-group date" data-datepickerenable="on">
        {% if attr.class is defined %}
            {% set class = attr.class ~ ' timepicker' %}
        {% else %}
            {% set class = ' timepicker' %}
        {% endif %}
        {% set attr = attr|merge({'class' : class}) %}

        {% filter spaceless %}
            {% set type = type|default('text') %}
            <input type="{{ type }}" {{ block('widget_attributes') }} value="{{ value }}" rel="theme" />
        {% endfilter %}
        <div class="input-group-addon">
            <i class="fas fa-calendar-alt"></i>
        </div>
    </div>
{%- endblock date_widget -%}

{%- block _notes_widget -%}
    <div class="document-editor">
        <div class="document-editor__toolbar"></div>
        <div class="document-editor__editable-container">
            <div class="document-editor__editable">

            </div>
        </div>
    </div>
    {{ block('hidden_widget') }}
{%- endblock _notes_widget -%}
