{% extends 'Components/Layout/crud-manage.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/stock_form.css') }}">
{%  endblock %}

{% block page_content %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/stock_form.js') }}"></script>

    <script>
        $(document).ready(function() {
            let crudManager = window.crudManager;

            // add search input function
            crudManager.withSearch(function (stocks, search) {
                if (search.length >= 2) {
                    let $matches = [];

                    search = search.toUpperCase();

                    $.each(stocks, function (index, stock) {
                        if (stock.name.toUpperCase().indexOf(search) > -1 ||
                            stock.symbol.toUpperCase().indexOf(search) > -1 ) {

                            $matches.push(stock);
                        }
                    });

                    return $matches;
                }

                return null;
            });

            // prepare the crud manage table
            let swalFormOptionsText = {
                create: {
                    confirmButtonText: '{{ 'Create'|trans }}',
                    titleText: '{{ 'Create new'|trans }} {{ entity_name|trans|title }}',
                    toastTitleText: '{{ entity_name|trans|title }} {{ 'was created successfully.'|trans }}'
                },
                update: {
                    confirmButtonText: '{{ 'Update'|trans }}',
                    titleText: '{{ 'Update'|trans }} {{ entity_name|trans|title }}',
                    toastTitleText: '{{ entity_name|trans|title }} {{ 'was updated successfully.'|trans }}'
                },
                delete: {
                    toastTitleText: '{{ entity_name|trans|title }} {{ 'was deleted successfully.'|trans }}'
                }
            };

            const form = new StockForm(swalFormOptionsText);

            crudManager.withForm(form);
            // add button create
            crudManager.withCreateButton();

            // Set up swal confirm options
            let swalViewOptions = {
                customClass: {
                    title: 'swal2-form-title',
                    content: 'swal2-form-content',
                },
                showConfirmButton: false,
                buttonsStyling: false,
                width: 700,
                allowEscapeKey: true,
                allowOutsideClick: true,
                showCloseButton: true,
                position: 'top'
            };

            // add button view
            crudManager.withViewButton(swalViewOptions, '#js-view-template');
            // add button edit
            crudManager.withEditButton();
            // add button delete
            crudManager.withDeleteButton();
            // add button extra
            crudManager.withExtraButton();

            crudManager.render();


            // Delegate selector for edit stock dividend
            $('.js-crud-manage-row-box').closest('section').on(
                'click',
                '.js-entity-edit-dividend-yield',
                function (e) {
                    e.preventDefault();

                    const $row = $(e.currentTarget).closest('tr');
                    const id = $row.data('id');

                    window.location = Routing.generate('stock_dividend_index', {'_id': id})
                }
            );

            // Tweak button toggle main menu to show/hide columns
            $('.sidebar-toggle').on(
                'click',
                function(e) {
                    let $button = $(e.currentTarget);

                    if ($button.data('toggle') === 'push-menu') {
                        window.crudManager.toggleExpanded();
                    }
                }
            );
        });
    </script>

    <!-- view title manager template -->
    <script type="text/template" id="js-view-title-template">
        <div><%= name %> (<%= symbol %>)</div>
        <div class="small"><%= market.symbol %> - <%= market.name %></div>
    </script>

    <!-- view manager template -->
    <script type="text/template" id="js-view-template">
        <div class="box no-border no-shadow">
            <div class="box-header with-border">
                {% embed 'Components/ui/stock-price.html.twig' with {
                    'current_price': 'value',
                    'tmpl': true,
                } %}
                {% endembed %}
            </div>
            <div class="box-body">
                <div class="row stock-price-row">
                    <div class="col-md-5">
                        {% embed 'Components/ui/table-simple-key-value.html.twig' with {
                            'rows' : [
                                {
                                    'key': 'Prev. Close',
                                    'value': 'preClose',
                                },
                                {
                                    'key': 'Open',
                                    'value': 'open',
                                },
                                {
                                    'key': 'PE Ratio (TTM)',
                                    'value': 'peRatio',
                                },
                                {
                                    'key': 'Forward Dividend & Yield',
                                    'value': 'forwardDividendYield',
                                },
                                {
                                    'key': 'Ex-Dividend Date',
                                    'value': 'open',
                                },
                            ],
                            'tmpl': true,
                        } %}
                        {% endembed %}
                    </div>
                    <div class="col-md-7 stock-open-close-day-price-block pull-right">
                        {% embed 'Components/ui/range-slider-show.html.twig' with {
                            'id': 'low-high-day-price',
                            'min_price': 'dayLow',
                            'max_price': 'dayHigh',
                            'current_price': 'value',
                            'type' : 'Day low/high'|trans|upper,
                            'tmpl': true,
                        } %}
                        {% endembed %}
                        {% embed 'Components/ui/range-slider-show.html.twig' with {
                            'id': 'low-high-52-week-price',
                            'min_price': 'week52Low',
                            'max_price': 'week52High',
                            'current_price': 'value',
                            'type' : '52 week low/high'|trans|upper,
                            'tmpl': true,
                        } %}
                        {% endembed %}
                        {% embed 'Components/ui/table-simple-key-value.html.twig' with {
                            'rows' : [
                                {
                                    'key': 'Sector',
                                    'value': 'sector.title'
                                },
                                {
                                    'key': 'Industry',
                                    'value': 'industry.title'
                                },
                            ],
                            'tmpl': true,
                        } %}
                        {% endembed %}
                    </div>
                </div>
                <div class="row stock-description-row">
                    <h4>{{ 'Description'|trans }}</h4>
                    <p><%= description %></p>
                </div>
            </div>
        </div>
    </script>
{% endblock %}
