{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% include 'Components/Panel/panel-table-css.html.twig' %}

    <link rel="stylesheet" href="{{ asset('build/stock_form.css') }}">
{%  endblock %}

{% block page_content %}
    {% include 'Components/Panel/panel-table.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% include 'Components/Panel/panel-table-scripts.html.twig' %}

    <script src="{{ asset('build/stock_form.js') }}"></script>

    <script>
        $(document).ready(function() {
            // Create page instance
            let $panelBox = $('.{{ js_panel_class|default('js-panel-box') }}');

            let contentWrapper = $panelBox.closest('section');
            let entityType = $panelBox.data('entity-type');

            // Create panelTable instance @see assets/js/PanelTable.js
            let panelTable = new PanelTable({
                entityType: entityType,
                wrapper: contentWrapper,
                pagination: true,
                selectors: {
                    searchTemplate: '#js-table-{{ entity_name|lower|replace({' ': '_'}) }}-search-template',
                    showPerPageTemplate: '#js-table-{{ entity_name|lower|replace({' ': '_'}) }}-show-per-page-template',
                    rowTemplate: '#js-table-{{ entity_name|lower|replace({' ': '_'}) }}-row-template',
                },
                searchFunc: function (stocks, search) {
                    if (search.length >= 2) {
                        let $matches = [];

                        search = search.toUpperCase();

                        $.each(stocks, function (index, stock) {
                            if (stock.name.toUpperCase().indexOf(search) > -1 ||
                                stock.symbol.toUpperCase().indexOf(search) > -1 ) {

                                $matches.push(stock);
                            }
                        });

                        return $matches;
                    }

                    return null;
                }
            });

            const form = new StockForm(
                window.swalOptions,
                panelTable,
                '#js-panel-{{ entity_name|lower|replace({' ': '_'}) }}-form-template',
            );

            const createButton = new CreateButton(
                '{{ 'Create new'|trans }} {{ entity_name|trans|lower }}',
                form,
                function () {
                    return Routing.generate('{{ entity_name|lower|replace({' ': '_'}) }}_new', {});
                },
                '.js-entity-create',
                '.js-panel-header-button-container'
            );
            panelTable.addButton(createButton);

            const editRowButton = new EditRowButton(
                form,
                function (id) {
                    return Routing.generate('{{ entity_name|lower|replace({' ': '_'}) }}_edit', {id});
                },
                '.js-entity-edit'
            );
            panelTable.addRowButton(editRowButton);

            const deleteRowButton = new DeleteRowButton(
                form,
                function (id) {
                    return Routing.generate('{{ entity_name|lower|replace({' ': '_'}) }}_delete', {id});
                },
                '.js-entity-delete'
            );
            panelTable.addRowButton(deleteRowButton);

            let swalOptions = {
                customClass: {
                    title: 'swal2-form-title',
                    content: 'swal2-form-content',
                },
                showConfirmButton: false,
                buttonsStyling: false,
                width: 700,
                allowEscapeKey: true,
                allowOutsideClick: true,
                showCloseButton: true,
                position: 'top',
            };

            const viewRowButton = new ViewRowButton(
                form,
                '.js-entity-view',
                swalOptions,
            );
            panelTable.addRowButton(viewRowButton);


            const dividendRowButton = new RowButton(
                '.js-entity-edit-dividend-yield',
                function (e) {
                    e.preventDefault();

                    const $row = $(e.currentTarget).closest('tr');
                    const id = $row.data('id');

                    window.location = Routing.generate('stock_dividend_index', {'_id': id})
                }
            );
            panelTable.addRowButton(dividendRowButton);

            panelTable.render();
            panelTable.loadRows();

            // Tweak button toggle main menu to show/hide columns
            $('.sidebar-toggle').on(
                'click',
                function(e) {
                    let $button = $(e.currentTarget);

                    if ($button.data('toggle') === 'push-menu') {
                        panelTable.toggleExpanded();
                    }
                }
            );
        });
    </script>

    <!-- view title manager template -->
    <script type="text/template" id="js-view-title-template">
        <div><%= name %> (<%= symbol %>)</div>
        <div class="small"><%= market.symbol %> - <%= market.name %></div>
    </script>

    <!-- view manager template -->
    <script type="text/template" id="js-view-template">
        {% include 'stocks/partial/view.html.twig' %}
    </script>
{% endblock %}
