{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% include 'Components/ui/crud-manage-css.html.twig' %}

    <link rel="stylesheet" href="{{ asset('build/stock_form.css') }}">
{%  endblock %}

{% block page_content %}
    {% include 'Components/ui/crud-manage-table.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% include 'Components/ui/crud-manage-scripts.html.twig' %}
    {% include 'Components/ui/crud-manage-table-scripts.html.twig' %}

    <script src="{{ asset('build/stock_form.js') }}"></script>

    <script>
        $(document).ready(function() {
            // Create page instance
            let $crudManagerRowBox = $('.{{ js_crud_manage_class|default('js-crud-manage-row-box') }}');

            let contentWrapper = $crudManagerRowBox.closest('section');
            let entityType = $crudManagerRowBox.data('entity-type');

            // Create CRUDManage instance @see public/assets/js/CRUDManage.js
            let crudManager = new CRUDManage({
                entityType: entityType,
                wrapper: contentWrapper,
                swalFormOptions: window.swalFormOptions,
                swalConfirmOptions: window.swalConfirmOptions,
                toastOptions: window.toastOptions,
                pagination: true,
                selectors: {
                    createButtonTemplate: '#js-manager-{{ entity_name|lower|replace({' ': '_'}) }}-create-button-template',
                    searchTemplate: '#js-manager-{{ entity_name|lower|replace({' ': '_'}) }}-search-template',
                    showPerPageTemplate: '#js-manager-{{ entity_name|lower|replace({' ': '_'}) }}-show-per-page-template',
                    rowTemplate: '#js-manager-{{ entity_name|lower|replace({' ': '_'}) }}-row-template',
                },
            });

            // add search input function
            crudManager.withSearch(function (stocks, search) {
                if (search.length >= 2) {
                    let $matches = [];

                    search = search.toUpperCase();

                    $.each(stocks, function (index, stock) {
                        if (stock.name.toUpperCase().indexOf(search) > -1 ||
                            stock.symbol.toUpperCase().indexOf(search) > -1 ) {

                            $matches.push(stock);
                        }
                    });

                    return $matches;
                }

                return null;
            });

            // prepare the crud manage table
            let swalFormOptionsText = {
                create: {
                    confirmButtonText: '{{ 'Create'|trans }}',
                    titleText: '{{ 'Create new'|trans }} {{ entity_name|trans|title }}',
                    toastTitleText: '{{ entity_name|trans|title }} {{ 'was created successfully.'|trans }}'
                },
                update: {
                    confirmButtonText: '{{ 'Update'|trans }}',
                    titleText: '{{ 'Update'|trans }} {{ entity_name|trans|title }}',
                    toastTitleText: '{{ entity_name|trans|title }} {{ 'was updated successfully.'|trans }}'
                },
                delete: {
                    toastTitleText: '{{ entity_name|trans|title }} {{ 'was deleted successfully.'|trans }}'
                }
            };

            const form = new StockForm(swalFormOptionsText);

            crudManager.withForm(form);
            // add button create
            crudManager.withCreateButton();

            // Set up swal confirm options
            let swalViewOptions = {
                customClass: {
                    title: 'swal2-form-title',
                    content: 'swal2-form-content',
                },
                showConfirmButton: false,
                buttonsStyling: false,
                width: 700,
                allowEscapeKey: true,
                allowOutsideClick: true,
                showCloseButton: true,
                position: 'top'
            };

            // add button view
            crudManager.withViewButton('.js-entity-view', swalViewOptions, '#js-view-template');
            // add button edit
            crudManager.withEditButton();
            // add button delete
            crudManager.withDeleteButton();
            // add button extra
            crudManager.withExtraButton();

            crudManager.render();


            // Delegate selector for edit stock dividend
            $('.js-crud-manage-row-box').closest('section').on(
                'click',
                '.js-entity-edit-dividend-yield',
                function (e) {
                    e.preventDefault();

                    const $row = $(e.currentTarget).closest('tr');
                    const id = $row.data('id');

                    window.location = Routing.generate('stock_dividend_index', {'_id': id})
                }
            );

            // Tweak button toggle main menu to show/hide columns
            $('.sidebar-toggle').on(
                'click',
                function(e) {
                    let $button = $(e.currentTarget);

                    if ($button.data('toggle') === 'push-menu') {
                        window.crudManager.toggleExpanded();
                    }
                }
            );
        });
    </script>

    <!-- view title manager template -->
    <script type="text/template" id="js-view-title-template">
        <div><%= name %> (<%= symbol %>)</div>
        <div class="small"><%= market.symbol %> - <%= market.name %></div>
    </script>

    <!-- view manager template -->
    <script type="text/template" id="js-view-template">
        {% include 'stocks/partial/view.html.twig' %}
    </script>
{% endblock %}
