{% set compile = false %}

{% if tmpl is defined and tmpl == true %}
    {% set compile = true %}
{% endif %}

<% var changeClass %>
<% if (change && change.value > 0) { %>
    <% changeClass = "positive" %>
<% } else { %>
    <% changeClass = "negative" %>
<% } %>

<div class="stock-price-block">
    <span class="last-price">{{ 'value'|compile_money_tmpl(compile) }}</span>
    <span class="change <%= changeClass %>">{{ 'change'|compile_money_tmpl(compile) }} ({{ 'changePercentage'|compile_decimal_tmpl(compile) }}%)</span>
    <div class="text-left" style="margin-top: -8px;">
        <span class="updated-at">{{ 'Updated at'|trans }}:  {{ 'priceUpdatedAt'|compile_time_tmpl(compile) }}</span>
    </div>
</div>
<div class="stock-buttons-block">
    <button class="js-stock-buy btn btn-success pull-left" style="width: 80px;" role="buy">{{ 'Buy'|trans }}</button>
    <button class="js-stock-sell btn btn-danger pull-right" style="width: 80px;" role="sell">{{ 'Sell'|trans }}</button>
</div>
