{#
    Values are setted via ajax in javascript.
    @see WalletDashboard.js
#}
<div class="row js-wallet-info-header">
    <!-- Invested -->
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-{% if wallet.benefits.value > 0 %}green{% else %}red{% endif %}">
                <i class="fas fa-chart-pie"></i><span class="js-wallet-pbenefits"> 0.00%</span>
            </span>
            <div class="info-box-content">
                <div class="row">
                    <div class="col-xs-6">
                        <span class="info-box-text">{{ 'Invested'|trans }}</span>
                        <span class="info-box-number js-wallet-invested"><small>&euro;</small> 0.00</span>
                    </div>
                    <div class="col-xs-6">
                        <span class="info-box-text">{{ 'Net Capital'|trans }}</span>
                        <span class="info-box-number js-wallet-net-capital"><small>&euro;</small> 0.00</span>
                    </div>
                </div>
                <div class="row separator"></div>
                <div class="row">
                    <div class="col-xs-6">
                        <span class="info-box-text">{{ 'Dividends'|trans }}</span>
                        <span class="info-box-number js-wallet-dividend"><small>&euro;</small> 0.00</span>
                    </div>
                    <div class="col-xs-6">
                        <span class="info-box-text">{{ 'Benefits'|trans }}</span>
                        <span class="info-box-number js-wallet-benefits"><small>&euro;</small> 0.00</span>
                    </div>
                </div>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- Capital -->
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fas fa-cash-register"></i></span>

            <div class="info-box-content">
                <div class="row">
                    <div class="col-xs-6">
                        <span class="info-box-text">{{ 'Capital'|trans }}</span>
                        <span class="info-box-number js-wallet-capital"><small>&euro;</small> 0.00</span>
                    </div>
                </div>
                <div class="row separator"></div>
                <div class="row">
                    <div class="col-xs-6">
                        <span class="info-box-text">{{ 'Margin'|trans }}</span>
                        <span class="info-box-number js-wallet-margin"><small>&euro;</small> 0.00</span>
                    </div>
                    <div class="col-xs-6">
                        <span class="info-box-text">{{ 'Funds'|trans }}</span>
                        <span class="info-box-number js-wallet-funds"><small>&euro;</small> 0.00</span>
                    </div>
                </div>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- Funds -->
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fas fa-book"></i></span>

            <div class="info-box-content">
                <div class="row">
                    <div class="col-xs-6">
                        <span class="info-box-text">{{ 'Commissions'|trans }}</span>
                        <span class="info-box-number js-wallet-commissions"><small>&euro;</small> 0.00</span>
                    </div>
                    <div class="col-xs-6">
                        <span class="info-box-text">{{ 'Interest'|trans }}</span>
                        <span class="info-box-number js-wallet-interest"><small>&euro;</small> 0.00</span>
                    </div>
                </div>
                <div class="row separator"></div>
                <div class="row">
                    <div class="col-xs-6 pull-right">
                        <span class="info-box-text">{{ 'Connection'|trans }}</span>
                        <span class="info-box-number js-wallet-connection"><small>&euro;</small> 0.00</span>
                    </div>
                </div>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
</div>
