<div class="row">
    <div class="col-md-12">
        <div class="box js-position-to-pay-dividend-panel">
            <div class="box-header with-border">
                <h3 class="box-title">{{ 'To Pay Dividends'|trans }}</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                {% embed 'Components/Panel/panel-table.html.twig' with {
                    'entity_name': position_dividend.to_pay.entity_name,
                    'fields': position_dividend.to_pay.fields,
                    'js_panel_class': 'js-position-to-pay-dividend-panel-box',
                    'border': 0,
                    'panel_header': 0,
                    'header': 0,
                    'footer': 0,
                }%}
                {% endembed %}
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fas fa-donate"></i></span>

            <div class="info-box-content">
                <span class="info-box-text" style="margin-bottom: 12px;">{{ 'Dividend Paid'|trans }}</span>
                <span>
                    <label class="js-wallet-dividend-paid-value"><small>&euro;</small> 0.00</label>
                    (<label class="js-wallet-dividend-paid-yield">0.00</label>%)
                </span>

                <div class="progress">
                    <div class="progress-bar js-wallet-dividend-paid-yield-compare-bar" style="width: 0%"></div>
                </div>
                <span class="progress-description">
                    <span class="js-wallet-dividend-paid-yield-compare-value">0.00</span>%
                    <span class="js-wallet-dividend-paid-yield-compare-text"></span> from last year
                  </span>
                <br>
                <table class="table dividend-two-year">
                    <thead>
                    <tr>
                        <th></th>
                        <th style="text-align: center;"><span class="info-box-tex js-wallet-dividend-year" data-year="{{ "now"|date("Y") }}">{{ "now"|date("Y") }}</span></th>
                        <th style="text-align: center;"><span class="info-box-text js-wallet-dividend-previous-year" data-year="{{ "now"|date("Y") - 1 }}">{{ "now"|date("Y") - 1 }}</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <span class="info-box-text js-wallet-dividend-paid-month" data-month="{{ "now"|date("n") }}">{{ "now"|date("M") }}</span>
                        </td>
                        <td style="text-align: center;">
                            <span class="info-box-number js-wallet-dividend-paid-year-month-1">-</span>
                        </td>
                        <td style="text-align: center;">
                            <span class="info-box-number js-wallet-dividend-paid-previous-month-1">-</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="info-box-text js-wallet-dividend-paid-month" data-month="{{ "now"|date_modify("-1 month")|date("n") }}">{{ "now"|date_modify("-1 month")|date("M") }}</span>
                        </td>
                        <td style="text-align: center;">
                            <span class="info-box-number js-wallet-dividend-paid-year-month-2">-</span>
                        </td>
                        <td style="text-align: center;">
                            <span class="info-box-number js-wallet-dividend-paid-previous-month-2">-</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="info-box-text js-wallet-dividend-paid-month" data-month="{{ "now"|date_modify("-2 months")|date("n") }}">{{ "now"|date_modify("-2 months")|date("M") }}</span>
                        </td>
                        <td style="text-align: center;">
                            <span class="info-box-number js-wallet-dividend-paid-year-month-3">-</span>
                        </td>
                        <td style="text-align: center;">
                            <span class="info-box-number js-wallet-dividend-paid-previous-month-3">-</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.info-box-content -->
        </div>
    </div>
</div>
