{# field #}
{% macro render_field(value) %}
    <%= {{ value }} %>
{% endmacro render_field %}

{# check #}
{% macro render_check(value, check) %}
    <% if ({{ check }} !== null) { %>
        <%= {{ value }} %>
    <% } %>
{% endmacro render_check %}

{# currency #}
{% macro render_currency(value, currency) %}
    {% set _currency = currency |default('euro') %}

    {% if _currency == 'euro' %}
        <% if ({{ value }}) { %>
            &euro; <%= {{ value }}.toFixed(2).toString().replace(/\./g, ",") %>
        <% } %>
    {% elseif _currency == '$' %}
        <% if ({{ value }}) { %>
            <%= {{ value }}.toFixed(2).toString().replace(/\./g, ",") %> $
        <% } %>
    {% endif %}
{% endmacro render_currency %}

{# money #}
{% macro render_money(value) %}
    <% if ({{ value }}) { %>
        <% if ({{ value }}.currency.currencyCode == 'USD') { %>
            <%= {{ value }}.value.toFixed(2).toString().replace(/\./g, ",") %> $
        <% } else { %>
            &euro; <%= {{ value }}.value.toFixed(2).toString().replace(/\./g, ",") %>
        <% } %>
    <% } %>
{% endmacro render_money %}

{# date #}
{% macro render_date(value, format) %}
    <% if ({{ value }} !== null) { %>
        <%= moment(new Date({{ value }})).format('{{ format }}') %>
    <% } %>
{% endmacro render_date %}

{# slice #}
{% macro render_slice(value, truncate) %}
    {% if value|length > truncate %}
        {{ value|slice(0, truncate) ~ '...' }}
    {% else %}
        {{ value }}
    {% endif %}
{% endmacro render_slice %}

{# account #}
{% macro render_account(value) %}
    <strong><%= {{ value }}.name %></strong>
    <br>
    <small><%= {{ value }}.accountNo %></small>
{% endmacro render_account %}

{# percentage #}
{% macro render_percentage(value) %}
    <% if ({{ value }} !== null && {{ value }} !== 0) { %>
        <%= {{ value }}.toFixed(2).toString().replace(/\./g, ",") %><small>%</small>
    <% } %>
{% endmacro render_percentage %}

{# broker #}
{% macro render_broker(value) %}
    <strong><%= {{ value }}.name %></strong>
    <br />
    <a href="<%= {{ value }}.site %>"><%= {{ value }}.site %></a>
{% endmacro render_broker %}

{# quantity #}
{% macro render_quantity(value, quantity) %}
    <% if ({{ quantity }} !== null && {{ quantity }} !== 0) { %>
        <% if ({{ quantity }} > 0) { %>
            <span class="pull-right text-green"><i class="fa fa-angle-up"></i> <%= {{ value }} %></span>
        <% } else { %>
            <span class="pull-right text-red"><i class="fa fa-angle-down"></i> <%= {{ value }} %></span>
        <% } %>
    <% } else { %>
        <span class="pull-right text-yellow"><i class="fa fa-angle-left"></i> <%= {{ value }} %></span>
    <% } %>
{% endmacro render_quantity %}

{# custom #}
{% macro render_custom(value) %}
   {{ value|spaceless }}
{% endmacro render_custom %}

{% macro field(value, field) %}
    {% import _self as render %}

    {% if field is defined %}
        {% if field.render is not defined %}
            {{ render.render_field(value) }}
        {% elseif field.render == 'broker' %}
            {{ render.render_broker(value) }}
        {% elseif field.render == 'account' %}
            {{ render.render_account(value) }}
        {% elseif field.render == 'currency' %}
            {{ render.render_currency(value) }}
        {% elseif field.render == 'money' %}
            {{ render.render_money(value) }}
        {% elseif field.render == 'date' %}
            {{ render.render_date(value, field.date_format) }}
        {% elseif field.render == 'percentage' %}
            {{ render.render_percentage(value) }}
        {% elseif field.render == 'check' %}
            {{ render.render_check(value, field.check) }}
        {% elseif field.render == 'custom' %}
            {{ render.render_custom(value) }}
        {% elseif field.render == 'quantity' %}
            {{ render.render_quantity(value, field.quantity) }}
        {% else %}
            {{ render.render_field(value) }}
        {% endif %}
    {% else %}
        {{ render.render_field(value) }}
    {% endif %}
{% endmacro field %}
